<ion-view view-title="Amigos">
  <ion-content class="padding">

    <div id="padding16">
    <ion-list>

      <ion-item href="#/app/chat" class="item-borderless" style="text-align: center;">
          <ion-item>
          	<img src="assets/chat-public.png" style="width:64px;"/>
          </ion-item>
          <ion-item class="item item-text-wrap">
            <h2 class="card-title">
              Chatear en la comunidad
            </h2>
            <hr width=25% style="border:none; background-color: lightgray; height: 1px;">	
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. 
            </p>
          </ion-item>
      </ion-item>

      <ion-item href="#/app/chat" class="item-borderless" style="text-align: center;">
          <ion-item>
          	<img src="assets/chat-friends.png" style="width:64px;"/>
          </ion-item>
          <ion-item class="item item-text-wrap">
            <h2 class="card-title">
              Chatear con mis amigos
            </h2>
            <hr width=25% style="border:none; background-color: lightgray; height: 1px;">	
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. 
            </p>
          </ion-item>
      </ion-item>

      <ion-item href="#/app/chat" class="item-borderless" style="text-align: center;">
          <ion-item>
          	<img src="assets/chat-private.png" style="width:64px;"/>
          </ion-item>
          <ion-item class="item item-text-wrap">
            <h2 class="card-title">
              Chat privado
            </h2>
            <hr width=25% style="border:none; background-color: lightgray; height: 1px;">	
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. 
            </p>
          </ion-item>
      </ion-item>


      <ion-item href="#/app/myfriends" class="item-borderless" style="text-align: center;">
          <ion-item>
          	<img src="assets/friends.png" style="width:64px;"/>
          </ion-item>
          <ion-item class="item item-text-wrap">
            <h2 class="card-title">
              Mis amigos
            </h2>
            <hr width=25% style="border:none; background-color: lightgray; height: 1px;">	
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. 
            </p>
          </ion-item>
      </ion-item>

    </ion-list>
    </div>

  </ion-content>
</ion-view>
