
<ion-view>

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-search" ng-click="srchClick()"></button>
        <button class="button button-icon button-clear icon-people" xmenu-toggle="right" ng-click="chatClick('upr')"></button>
    </ion-nav-buttons>

<!--
    <ion-nav-title>Tour</ion-nav-title>
-->
  
    <ion-content class="padding">

		<div class="item-box59">


<div ng-if="loc=='es'" align="left" style="text-align: justify; padding-left:10px; padding-right:10px;">
    <p>
        <strong>Aviso Legal</strong><br>
        El presente aviso legal regula el uso del portal www.curso-ingles.com , que SOK Internet S.L., con domicilio social en c/Calle Galileu, 303-305 , 4ª planta, de Barcelona (España) y NIF B65558405, pone a disposici&oacute;n de los usuarios de Internet.
        <br>
        La utilizaci&oacute;n de www.curso-ingles.com, en adelante Curso-ingles.com, por cualquier persona le atribuye la condici&oacute;n de &quot;USUARIO&quot; e implica la aceptaci&oacute;n plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal en la  versi&oacute;n publicada por el sitio Web en el momento mismo en que el Usuario acceda en &eacute;l.
    </p>
    <p>    
        <strong>Duraci&oacute;n</strong><br />
        Conforme a los t&eacute;rminos y condiciones de este aviso legal, Curso-ingles.com se reserva el derecho unilateral de suspender temporalmente o de terminar definitivamente el servicio del portal www.curso-ingles.com. 
    </p>

    <p>
        <strong>Propiedad intelectual e industrial </strong><br>
        SOK Internet S.L. es propietario del nombre de dominio y del Portal de www.curso-ingles.com<strong>.</strong>
        <br>
        Curso-ingles.com ofrece los contenidos de esta web de forma totalmente gratuita y s&oacute;lo para el uso personal del Usuario.
        <br>
        Los contenidos de esta web est&aacute;n protegidos por la ley de protecci&oacute;n intelectual y queda expresamente prohibida la reproducci&oacute;n parcial o total en cualquier medio sin previa autorizaci&oacute;n expresa de los respectivos autores. 
        <br>
        Los enlaces o links que contiene este sitio Web pueden conducir al usuario a otros sitios y p&aacute;ginas Web gestionados por terceros, sobre los que el sitio Web no ejerce ning&uacute;n tipo de control y sobre los cuales no responde ni de los contenidos ni del estado de dichos sitios y p&aacute;ginas Web.
    </p>

    <p>
        <strong>Exenci&oacute;n de responsabilidad por el funcionamiento del sitio web </strong><br />
        Curso-ingles.com no garantiza que el sitio web vaya a funcionar constante, fiable y correctamente, sin retrasos o interrupciones, por lo que Curso-ingles.com no se hace responsable de los da&ntilde;os y prejuicios que puedan derivarse de los posibles fallos en disponibilidad y continuidad t&eacute;cnica del sitio web.             
    </p>

    <p>
        <strong>Pol&iacute;tica Privacidad de datos </strong><br />
        Curso-ingles.com no pide y por lo tanto no almacena datos de car&aacute;cter personal de sus usuarios. 
    </p>
    <p>
        <strong>Publicidad</strong><br>
        El acceso a las p&aacute;ginas de Curso-ingles.com conlleva acceso a servidores de nuestros anunciantes, como por ejemplo Google, desde los que se muestra publicidad incrustada en las p&aacute;ginas, mediante im&aacute;genes, marcos, scripts u otros medios.
        Google utiliza empresas publicitarias asociadas para publicar anuncios cuando los usuarios visitan nuestro sitio web. Es posible que estas empresas usen la informaci&oacute;n que obtienen de las visitas a este y a otros sitios web (sin incluir nombre, direcci&oacute;n, direcci&oacute;n de correo electr&oacute;nico o n&uacute;mero de tel&eacute;fono) para ofrecer a los usuarios anuncios sobre productos y servicios que les resulten de inter&eacute;s. Si desea obtener m&aacute;s informaci&oacute;n sobre esta pr&aacute;ctica y conocer las opciones de que dispone para impedir que estas empresas usen dicha informaci&oacute;n, <a href="http://www.google.com/privacy_ads.html" target="_blank">haga clic aqu&iacute;</a>. <br>
        <a href="http://www.google.com/intl/es/privacy.html" target="_blank"></a>
    </p>
</div>


<div ng-if="loc!='es'" align="left" style="text-align: justify; padding-left:10px; padding-right:10px;">
    <p>
        <strong>Legal Notice</strong><br>
        This legal notice regulates the use of the site www.curso-ingles.com, that SOK Internet S.L., located at c/ Calle Galileu, 303-305 , 4th floor, Barcelona (Spain) and NIF B65558405, makes available to users of the internet.
        <br>
        The use of www.curso-ingles.com, or Curso-ingles.com, by any person, therefore a user, implies the full acceptance without reservation of all and every provision contained in this Legal Notice, as published by the web site at the moment of access. 
    </p>
    <p>
        <strong>Duration</strong><br />
        Subject to the terms and conditions of this Legal Notice, course-ingles.com reserves the unilateral right to temporarily suspend or permanently terminate the service of the portal www.curso-ingles.com. 
    </p>
    <p>
        <strong>Intellectual and Industrial Property</strong><br>
        SOK Internet S.L. is the owner of the domain name and portal www.curso-ingles.com<strong>.</strong>
        <br>
        Curso-ingles.com offers the contents of this web for free and for the personal use of the user. 
        <br>
        The contents of this website are protected by intellectural property law and their reproduction in any form is prohibited without previous authorization of the respective authors.  
        <br>
        Links contained in this website may lead the user to other sites and webpages managed by third parties, of which this website does not exercise any control and which does not respond nor to the contents or the state of these websites and webpages.
    </p>
    <p>
        <strong>Exemption from liability for the functioning of the website </strong><br />
        Curso-ingles.com does not guarantee that the website will function consistently, reliable or correctly, without delays or interruptions, and as such, Curso-ingles.com does not take any responsibility for damages derived from possible errors in availability or the technical continuity of this website. 
    </p>
    <p>
        <strong>Privacy Policy </strong><br />
        Curso-ingles.com does not ask for nor maintain personal information of its users.
    </p>
    <p>
        <strong>Publicity</strong><br>
        Access to the pages contained within course-ingles.com entails access to servers from our advertisers, such as for example Google, to embedded advertising in the pages, images, frames, scripts or other media. Google uses advertising companies to serve ads when users visit our web site. It is possible that these companies use the information they get from the visits to this and other websites (not including name, address, telephone number or email address) to offer advertisements about products and services that are of interest to users. If you would like more information about this practice and the options available to prevent these companies from using this information, please <a href="http://www.google.com/privacy_ads.html" target="_blank">click here</a>. <br>
        <a href="http://www.google.com/intl/es/privacy.html" target="_blank"></a>
    </p>
</div>    






		</div>

    </ion-content>
            
</ion-view>



