
<style>
.hidden { display: none; }
</style>


<!-- 'desactivar' hover -->
<style>
.button-lista:hover {
    background:#0084cb !important;
}

.button-lista.active:hover {
    background:#00a8ef !important;
}
</style>


<ion-view>

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-search" ng-click="srchClick()"></button>
        <button class="button button-icon button-clear icon-people" xmenu-toggle="right" ng-click="chatClick('upr')"></button>
    </ion-nav-buttons>
 

    <ion-content ng-class="(errorValue) ? 'wrongBackground' : ''" class="padding regular_verb">

        <div ng-if="errorValue" ng-include src="'views/error.html'"></div>

        <div ng-if="!errorValue">         
        
        <ion-scroll direction="x" delegate-handle="miScroller" class="scroller_menu wide-as-needed no-padding" >
            <a class="button button-lista" ng-class="{active: $index==currentSlide}" ng-repeat="l in paginas" ng-click="listaClick($event,$index)" id="lstbtn{{$index}}">{{l[1]}}</a>
        </ion-scroll>

        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)" active-slide="currentSlide" pager-click="pagerClick(index)" ng-if="test!='Cargando ...'">

            <ion-slide ng-repeat="l in paginas">
	      	    <!-- Destacados <h1>{{l[1]}}</h1> -->

                <div style="height:1px;">
                </div>  

                <div ng-if="$index===currentSlide">                

                    <ng-repeat class="list" ng-repeat="item in regverbs[l[0]]" >

                        <ion-item class="item-box56" ng-click="wordClick(item.name)">
                            <header class="i-header header-button">
                                <div class="i--play3">
                                    <div class="icon-play"></div>
                                    <div class="text14">{{item.name}}</div>
                                    <div ng-if="loc=='es'" class="text3">{{item.translation}}</div>
                                </div>
                                <button class="i--button blue" ng-click="conjugate(item.name); $event.stopPropagation();" >{{i18n[loc].conjugate}}</button>
                                <div class="i-icon" ng-class="{ 'ion-minus-circled' : openItem==$index  , 'ion-plus-circled' :openItem != $index   }" ng-click="plusClick($index); $event.stopPropagation();"></div>
                            </header>
                            <section class="text15" ng-show="openItem==$index">
                                <hr>
                                <ion-item class="i--play2" ng-click="wordClick(item.present); $event.stopPropagation();">
                                    <div class="icon-play text20">{{item.present}}</div>
                                    <div class="text3">Infinitive</div>
                                </ion-item>
                                <ion-item class="i--play2" ng-click="wordClick(item.past_simple); $event.stopPropagation();">
                                    <div class="icon-play text20">{{item.past_simple}}</div>
                                    <div class="text3">Past simple</div>
                                </ion-item>
                                <ion-item class="i--play2" ng-click="wordClick(item.past_participle); $event.stopPropagation();">
                                    <div class="icon-play text20">{{item.past_participle}}</div>
                                    <div class="text3">Past participle</div>
                                </ion-item>
                                <ion-item class="i--play2" ng-click="wordClick(item.gerund); $event.stopPropagation();">
                                    <div class="icon-play text20">{{item.gerund}}</div>
                                    <div class="text3">Gerund</div>
                                </ion-item>
                            </section>

                        </ion-item>
                    
    				</ng-repeat>

                </div>

            </ion-slide>

        </ion-slide-box>

        </div>
    </ion-content>

</ion-view>
