<ion-view view-title="{{song.title}}">
    
    <ion-content class="padding song">

        <div class="item-box56 extra-padding">
            <iframe width="100%" height="215" src="{{videoURL(song.video_id)}}" frameborder="0" allowfullscreen></iframe>
        </div>
        
        <div class="item-box56 song-info">
            <div class="text2 underline_none">{{song.artist}}</div>
            <div class="text3">{{song.title}}</div>
            <div class="text14 underline_none">{{song.lesson_section}}</div>
<!--            
            <button class="i--button lighgreen">Ver vídeo</button>
-->
        </div>

    </ion-content>

</ion-view>