
<style>
.mislide{
	text-align:center; xheight:400px; padding-bottom:30px; font-size:-webkit-xxx-large;
}
</style>

<ion-view view-title="{{i18n[loc].subs3}}">
   
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear icon-people" menu-toggle="right"></button>
    </ion-nav-buttons>

<!--
    <ion-nav-title>Tour</ion-nav-title>
-->
  
    <ion-content class="padding">

		<div class="item-box59 mislide">

			<p style="padding-top:10px; padding-left:10px; padding-right:10px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at ornare risus. Quisque nec nisl semper, posuere arcu dictum, scelerisque diam. Sed iaculis eu lectus at auctor. Vivamus viverra non lorem id feugiat. Duis volutpat ut orci sit amet mattis. Donec lacinia dictum mauris, nec pharetra urna. Nunc eget ex mi. Nunc a dui volutpat, iaculis sapien nec, semper lectus. Fusce eleifend ex id consectetur lobortis. Ut fringilla mi sit amet turpis sagittis ullamcorper. Suspendisse non blandit ipsum. Donec vitae blandit arcu, at consectetur urna.
            </p>

            <br>            

            <div class="buttonCenter">
                <button class="green i--button text13" ng-click="doBuy(); $event.stopPropagation();">{{i18n[loc].gopremium}}</button>
            </div>

            <br>
            
            <div class="buttonCenter">
                <button class="green i--button text13" ng-click="doBuy(); $event.stopPropagation();">{{i18n[loc].subs}}</button>
            </div>

		</div>

    </ion-content>
            
</ion-view>



